/* main content */
#mdxpage {
    background: #f9f6f1 !important;
}

/* nav bar */
body div div {
    background: #f9f6f1 !important;
}


/* nav bar */
body div div {
    background: #f9f6f1 !important;
}


